vault policy write nodejs - <<EOF
path "secret/nodejs/*" {
  capabilities = ["read"]
}
EOF

vault write auth/kubernetes/role/nodejs \
  bound_service_account_names=vault-auth \
  bound_service_account_namespaces=default \
  policies=nodejs \
  ttl=24h


vault kv put secret/nodejs/config APP_NAME="NODEJS" PORT="3000"